.not-active{
  background: url(../images/mario-stairs.gif) no-repeat center center fixed;
  -webkit-background-size: 100%; /* For WebKit*/
  -moz-background-size: 100%;    /* Mozilla*/
  -o-background-size: 100%;      /* Opera*/
  background-size: 100%;         /* Generic*/
}

.active {
  background: url(../images/mario-transform.gif) no-repeat center center fixed;
  -webkit-background-size: 100%; /* For WebKit*/
  -moz-background-size: 100%;    /* Mozilla*/
  -o-background-size: 100%;      /* Opera*/
  background-size: 100%;         /* Generic*/
}

.qr-code{
  position: absolute;
  z-index: 1;
  width: 150px;
  left: 40%;
  right: 40%;
  bottom: 100px;
}

.not-hovered {
  display: none;
}

.hovered {
  color: white;
  font-weight: bold;
  position: absolute;
  z-index: 1;
  width: 150px;
  left: 40%;
  right: 40%;
  bottom: 70px;
}
