<div class="log">

</div>

<button id="play-sound">Play Boing</button>

<div class="main">
  <h2>Device Motion</h2>
  <table>
    <tr>
      <td>Event Supported</td>
      <td id="dmEvent"></td>
    </tr>
    <tr>
      <td>acceleration</td>
      <td id="moAccel"></td>
    </tr>
    <tr>
      <td>accelerationIncludingGravity</td>
      <td id="moAccelGrav"></td>
    </tr>
    <tr>
      <td>rotationRate</td>
      <td id="moRotation"></td>
    </tr>
    <tr>
      <td>interval</td>
      <td id="moInterval"></td>
    </tr>
  </table>
</div>

<script>


  $(function() {

    var canBoing = true;

    var count = 0;
    $('#play-sound').on('click', function() {

      soundBoard.camera.play();
    });


    var $log = $(".log")

    function log(event) {
      $("<p>")
        .html(event)
        .appendTo($log);
    }

    function clearLog() {
      $log.html("");
    }

    function trigger(sound, color) {
      soundBoard[sound].play();
       $("body").css('background', color)
       setTimeout(function(){
         $("body").css('background', 'white');
       }, 500)
    }

    var accels = [];

    if (window.DeviceMotionEvent) {
      window.addEventListener('devicemotion', deviceMotionHandler, false);
    } else {
      document.getElementById("dmEvent").innerHTML = "Not supported."
    }

    function pushEvent(event) {
      clearLog();
      var event = Math.abs(event);


      //blue greeen orange yello red


      if(event > 12) {
        if ( canBoing ) {
          trigger("camera", "blue");
          console.log("BOINGED")
          canBoing = false;
          setTimeout(function() {
            canBoing= true;
          }, 500);
        }
      }



      accels.push(event);
      accels.sort(function(a,b){return b-a});
      accels = accels.slice(0, 5);
      for(var i=0, length=accels.length; i<length; i++){
        log(accels[i]);
      }
    }

    function deviceMotionHandler(eventData) {
      var info, xyz = "[X, Y, Z]";

      // Grab the acceleration from the results
      var acceleration = eventData.acceleration;
      info = xyz.replace("X", acceleration.x);
      info = info.replace("Y", acceleration.y);
      info = info.replace("Z", acceleration.z);
      document.getElementById("moAccel").innerHTML = info;

      var event = Math.sqrt(
        Math.pow(acceleration.x, 2) +
        Math.pow(acceleration.y, 2) +
        Math.pow(acceleration.z, 2)
      )


      pushEvent(event);

      // Logging the acceleration

      // Grab the acceleration including gravity from the results
      acceleration = eventData.accelerationIncludingGravity;
      info = xyz.replace("X", acceleration.x);
      info = info.replace("Y", acceleration.y);
      info = info.replace("Z", acceleration.z);
      document.getElementById("moAccelGrav").innerHTML = info;



      // Grab the rotation rate from the results
      var rotation = eventData.rotationRate;
      info = xyz.replace("X", rotation.alpha);
      info = info.replace("Y", rotation.beta);
      info = info.replace("Z", rotation.gamma);
      document.getElementById("moRotation").innerHTML = info;

      // // Grab the refresh interval from the results
      info = eventData.interval;
      document.getElementById("moInterval").innerHTML = info;
    }


    // var testData = [9, 1,5,3,3,4,5, 9];
    // $.each(testData, function(i, el){
    //   pushEvent(el)
    // });


  })


</script>
