<h1>Tap Here On Your Mobile Device</h1>
<h2>Then Open hashmagic.herokuapp.com/display on another device</h2>

<%= javascript_include_tag "helpers.js" %>
<%= javascript_include_tag "sound_board.js" %>
<%= javascript_include_tag "trigger.js" %>


